
	BODY {

		background-color: #000;
		overflow: hidden;
		margin: 0px; 
		padding: 0px;

	}

	canvas {

		/* Legal fallback */
		image-rendering: optimizeSpeed;
		/* Firefox */
		image-rendering: -moz-crisp-edges;
		/* Opera */
		image-rendering: -o-crisp-edges;
		/* Safari */
		image-rendering: -webkit-optimize-contrast;
		/* CSS3 Proposed */
		image-rendering: optimize-contrast;
		/* CSS4 Proposed */
		image-rendering: crisp-edges;
		/* CSS4 Proposed  */
		image-rendering: pixelated;
		/* IE8+ */
		-ms-interpolation-mode: nearest-neighbor;

	}

    #game {

      margin: 0px; padding: 0px;

    }


